/*global section*/
:root {
  --roboto: "Roboto", sans-serif;
  --rainbow: linear-gradient(
    -180deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
}

h1 {
  text-decoration: none;
  font-family: var(--roboto);
  font-size: 24px;
  font-weight: 700;
}

p {
  font-family: var(--roboto);
  font-size: 16px;
  font-weight: 300;
}
/*container*/
.container {
  padding: 2.5rem 1.5rem;
  height: 100vh;
}

.back {
  width: 175px;
  background-color: #231557;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  text-align: center;
}

.button {
  text-decoration: none;
  font-family: var(--roboto);
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}

.button:focus {
  text-decoration: none;
  font-family: var(--roboto);
  font-size: 14px;
  color: #fff800;
  font-weight: 500;
}
